body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: 
        linear-gradient(to right, #7c7c7c63 1px, transparent 1px),
        linear-gradient(to bottom, #7c7c7c63 1px, transparent 1px);
    background-size: 50px 50px; /* Grid size */
}

h1 {
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3rem;
    text-align: center;
}